---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Prueba Accom">
	<main class="min-h-screen flex items-center justify-center bg-slate-50">
		<h1 class="text-4xl font-bold text-slate-900">Astro + Tailwind v4</h1>
	</main>
</Layout>
