---
import Layout from "../layouts/Layout.astro"
import Header from "../components/layout/Header.astro"
import Hero from "../components/layout/Hero.astro"
---

<Layout title="Prueba Accom">
  <Header />
  <main class="min-h-screen">
    <Hero />
  </main>
</Layout>
